body {
    font-family: 'Montserrat';
    line-height: 1.5;
}
.container-fluid {
    padding: 3% 19%;
}
#title {
    background-color: #9aa4ec
}
.chimeraint {
    padding: 15% 7%;

}
.chimeraimg {   
    text-align: center; 
}
.chimerah1 {
    font-size: 3rem;
    font-weight: bold;
}
.chimerah3 {
    font-size: 1.5rem;
}

#apollo {
    background-color: #bba7ff;
}
.apolloint {
    padding: 15% 7%;

}
.apolloimg {   
    text-align: center; 
}
.apolloh1 {
    font-size: 3rem;
    font-weight: bold;
}
.apolloh3 {
    font-size: 1.5rem;
}

#hex {
    background-color: #4da1d3;
}
.hexint {
    padding: 15% 7%;

}
.heximg {   
    text-align: center; 
}
.hexh1 {
    font-size: 3rem;
    font-weight: bold;
}
.hexh3 {
    font-size: 1.5rem;
}
.navbar-brand {
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: bold;
}
.nav-link {
    font-weight: bold;
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 5% 10%;
}
.icon {
    margin: 0.5rem;
}
.col-lg-6 {
    padding: 2% 2%;
}
.carousel-inner {
    padding: 5% 10%;
}
.coll {
    padding: 12% 7%;
}
.fadeshotimg {
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 100%;
}
.nofiimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 100%;
}
.about {
    background-color: #C5C6D0;
    padding: 5% 9%;
}
